// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
// Add any SASS variables that are specific to this file here.


// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
.page--home {
	main {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
