// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
$project-section: '.project-section';
$project-info: '.project-info';


// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
#{$project-section} {
	@include span( 12 of 12 );
	@include clearfix;

	&--content,
	&--images,
	&--footer {
		@extend #{$project-section};
	}

	&--content {
		border-top: $border-width--thick solid getColor( rich-black );
		padding: 3rem 0;

		// Positional styles
		&:not( :last-child ) {
			margin-bottom: 3rem;
		}

		// Media queries
		@media ( min-width: 768px ) {
			padding-top: 6rem;
		}
	}

	&--images {
		img {
			width: 100%;
			display: block;

			&:not( :last-child ) {
				margin-bottom: 2rem;
			}
		}
	}

	&--footer {
		text-align: center;

		// Media queries
		@media ( min-width: 600px ) {
			text-align: left;
		}
	}
}

#{$project-info} {
	&--header,
	&--main,
	&--supporting {
		@include span( 12 of 12 );
	}

	&--header {
		margin-bottom: 2rem;

		@media ( min-width: 768px ) {
			@include span( 8 of 12 );

			margin-bottom: 5rem;
		}
	}

	&--main {
		margin-bottom: 2rem;

		@media ( min-width: 768px ) {
			@include span( 8 of 12 );

			margin-bottom: 0;
		}
	}

	&--supporting {
		@media ( min-width: 768px ) {
			@include span( 3 of 12 )
			@include push( 1 of 12 );
			@include last;

			margin-bottom: 0;
		}
	}
}
