<article class="post-preview">
	<div class="post-preview__header">
		<a href="{{ include.post.url }}">
			<img src="{{ include.post.featured_image }}" alt="#">
		</a>
	</div>
	<div class="post-preview__body">
		<h1>
			<a href="{{ include.post.url }}">{{ include.post.title }}</a>
		</h1>

		<ul>
		{% if include.post.categories %}
			{% for category in include.post.categories %}
			<li>
				<h2>{{ category }}</h2>
			</li>
			{% endfor %}
		{% endif %}
		</ul>

		{% if include.post.excerpt %}
			<p>{{ include.post.excerpt }}</p>
		{% endif %}
	</div>
</article>