* {
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	color: getColor( grey--dark );
	font-family: 'Lora', Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
}

main {
	@extend %__grid--inset;

	margin: 0 auto;
	padding: 3rem 0;

	&:after {
		content: '';
		display: table;
		clear: both;
	}

	// Positional styles
	header + & {
		padding-top: 0;
	}
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;

	font-family: 'Work Sans', Helvetica, Arial, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

a {
	color: inherit;
	text-decoration: none;
	transition: opacity 0.25s;

	// State
	&:hover,
	&:focus {
		opacity: 0.8;
	}

	a:visited {
		color: inherit;
	}
}

h1,
h2 {
	margin: 0;
}

h1 {
	margin-bottom: 1rem;
	font-size: 2rem;
}

h2 {
	display: inline-block;
	color: getColor( grey );
	border-bottom: 0.1rem solid getColor( grey );
	font-size: 1.4rem;
	line-height: 1.5;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 1rem 1rem 0;
}


p {
	color: getColor( grey );
	margin-top: 0;
	line-height: 1.6;
	letter-spacing: 0.05px;

	&:last-child {
		margin-bottom: 0;
	}
}
