// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
// Add any SASS variables that are specific to this file here.


// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
.footer {
	@include dims( 100% auto );

	margin-top: 6rem;

	// Media queries
	@media ( min-width: 768px ) {
		margin-top: 8rem;
	}
}

.footer__inner {
	@extend %__grid--inset;

	margin: 0 auto;
	border-top: $border-width--thick solid getColor( rich-black );
	padding: 4rem 0;
}

.footer-block {
	&--main {
		// Media queries
		@media ( min-width: 768px ) {
			@include span( 8 of 12 );
		}
	}
}
