<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
<body>
	{% include header.html %}
	<main>
		<section class="project-section--content">
			<div class="project-info--header">
				<h1 class="project--title">{{ page.title }}</h1>
			</div>
			<div class="project-info--main">
				{{ content }}
			</div>
			<div class="project-info--supporting">
				<ul>
					{% if page.designers %}
					<li>
						<h2 class="project--list-title">Design</h2>
						{% for designer in page.designers %}
						<p class="project--list-text">{{ designer }}</p>
						{% endfor %}
					</li>
					{% endif %}
					{% if page.developers %}
					<li>
						<h2 class="project--list-title">Development</h2>
						{% for developer in page.developers %}
						<p class="project--list-text">{{ developer }}</p>
						{% endfor %}
					</li>
					{% endif %}
					{% if page.categories %}
					<li>
						<h2 class="project--list-title">Categories</h2>
						{% for category in page.categories %}
						<p class="project--list-text">{{ category }}</p>
						{% endfor %}
					</li>
					{% endif %}
				</ul>
			</div>
		</section>
		{% if page.images %}
		<section class="project-section--images">
			{% for image in page.images.files %}
			<img src="{{ image }}.{{ page.images.extension }}" alt="#" srcset="{% for size in page.images.sizes %}{{ image }}x{{ size }}.{{ page.images.extension }} {{ size }}w,{% endfor %}" sizes="100vw" />
			{% endfor %}
		</section>
		{% endif %}
		<section class="project-section--footer">
			<a href="/" class="cta">Back</a>
		</section>
	</main>
	{% include footer.html %}
</body>
</html>